{% extends 'base.html.twig' %}
{% block stylesheets %}
            {{encore_entry_link_tags('login') }}
{% endblock %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
    <div class="mb-3 bannerInfo">
        Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
    </div>
    {% endif %}
    <div class="container blocLogin">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3 class="text-center mb-3">Formulaire de connexion</h3>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                    required autofocus placeholder="romainLebrou@gmail.com">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="*********">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
        </div>
        <div class="col-md-6 offset-md-3 mt-3">
            <button class="btn btn-lg btn-primary" type="submit">
                Connexion
            </button>
        </div>

    </div>

    <h1 class="h3 mb-3 font-weight-normal"></h1>


    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

</form>
{% endblock %}