{% extends 'base.html.twig' %}

{% block title %}Ingredient index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des ingredients</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ingredient in ingredients %}
                <tr>
                    <td>{{ ingredient.idingredient }}</td>
                    <td>{{ ingredient.name }}</td>
                    <td>
                        <a href="{{ path('ingredient_show', {'idingredient': ingredient.idingredient}) }}" class="btn btn-secondary">Voir</a>
                        <a href="{{ path('ingredient_edit', {'idingredient': ingredient.idingredient}) }}" class="btn btn-warning">Edition</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('ingredient_new') }}" class="btn btn-primary">Ajouter un nouvelle ingrédient</a>
    </div>
{% endblock %}
